<!DOCTYPE html>
<html lang="ko" translate="no" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>indextest.html</title>

    <style>
        .con1 {
            background: #060;
        }
        .con2 {
            background: #006;
        }
    </style>
</head>
<body>
    <div class="con1">
        <p>하하하</p>
    </div>

    <div class="con2">
        <p>히히히</p>
    </div>
</body>
</html>