<header>
    <div class="header-container">
        <div class="header-top">
            <div class="sns">
                <ul>
                    <li><a><img src="/assets/img/sns_facebook.gif" alt="MONAMI 페이스북"/></a></li>
                    <li><a><img src="/assets/img/sns_insta.gif" alt="MONAMI 인스타그램"/></a></li>
                    <li><a><img src="/assets/img/sns_youtube.png" alt="MONAMI 유튜브"/></a></li>
                </ul>
            </div>
            <div class="topmenu">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">SITE MAP</a></li>
                    <li><a href="#">CONTACT US</a></li>
                </ul>
            </div>
        </div>
        <div class="header-menu">
            <div class="logo">
                <img src="/assets/img/monami_logo.jpg" alt="logo">
            </div>
            <div class="gnb">
                <ul class="menu-container">
                    <li class="menu-item">
                        <a href="#">모나미 소개</a>
                        <ul class="sub-item">
                            <li><a href="#">CEO 메시지</a></li>
                            <li><a href="#">회사정보</a></li>
                            <li><a href="#">회사연혁</a></li>
                            <li><a href="#">윤리강령</a></li>
                            <li><a href="#">투자정보</a></li>
                            <li><a href="#">CI</a></li>
                            <li><a href="#">찾아오시는 길</a></li>
                            <li><a href="#">안전보건 경영방침</a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="#">모나미 제품</a>
                        <ul class="sub-item">
                            <li><a href="#">프리미엄 펜</a></li>
                            <li><a href="#">펜, 펜슬</a></li>
                            <li><a href="#">마카, 컬러링</a></li>
                            <li><a href="#">노트, 사무용품</a></li>
                            <li><a href="#">잉크, 리필</a></li>
                            <li><a href="#">카탈로그</a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="#">NEWS & VIDEO</a>
                        <ul class="sub-item">
                            <li><a href="#">보도자료</a></li>
                            <li><a href="#">동영상 자료</a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="#">모나미 미술대회</a>
                        <ul class="sub-item">
                            <li><a href="#">미술대회 소개</a></li>
                            <li><a href="#">수상작 발표</a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="#">고객 지원</a>
                        <ul class="sub-item">
                            <li><a href="#">자주 묻는 질문</a></li>
                            <li><a href="#">문의하기</a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="#">기업 개발/구매</a>
                        <ul class="sub-item">
                            <li><a href="#">대량 구매 문의</a></li>
                            <li><a href="#">기업 및 단체 구매</a></li>
                            <li><a href="#">산업용 맞춤 제품개발</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div>
                <a href="#"><img src="/assets/img/search.gif" alt="상품 검색"/></a>
            </div>
        </div>
    </div>
</header>