<header>
    <div class="header-container">
        <div class="header-top">
            <div class="links">
                <ul>
                    <li><a><img src="/assets/img/sns_facebook.gif" alt="MONAMI 페이스북"/></a></li>
                    <li><a><img src="/assets/img/sns_insta.gif" alt="MONAMI 인스타그램"/></a></li>
                    <li><a><img src="/assets/img/sns_youtube.gif" alt="MONAMI 유튜브"/></a></li>
                </ul>
            </div>
            <div class="topmenu">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">SITE MAP</a></li>
                    <li><a href="#">CONTACT US</a></li>
                </ul>
            </div>
        </div>
        <div class="header-menu">
            <div class="logo">
                <img src="/assets/img/monami_logo.jpg" alt="logo">
            </div>
            <div class="menu-list">
                <ul>
                    <li><a href="#">모나미 소개</a></li>
                    <li><a href="#">모나미 제품</a></li>
                    <li><a href="#">NEWS & VIDEO</a></li>
                    <li><a href="#">모나미 미술대회</a></li>
                    <li><a href="#">고객 지원</a></li>                    
                    <li><a href="#">기업 개발/구매</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>